<h1>Restaurants</h1>
<%= link_to "New Restaurant", "/restaurants/new" %>

<% @restaurants.each do |restaurant| %>
   <p> <%= restaurant.id %>		<%= restaurant.name %>		<%= restaurant.location %>		<%= link_to "Reserve", restaurant %></p>


<% end %>